.v-scrollbar {
  padding-right: 0.5rem;

  scrollbar-color: theme("colors.hover");
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }
  &::-webkit-scrollbar-track {
    width: 0.3rem;
    background-color: theme("colors.dark");
    border-radius: 999px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: theme("colors.hover");
    cursor: pointer;
    border-radius: 999px;
  }
}
